<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>Horse Servlets</display-name>

    <!--<listener>-->
        <!--<listener-class>Kinopoisk.server.ServerLauncher</listener-class>-->
    <!--</listener>-->

    <servlet>
        <servlet-name>Ping</servlet-name>
        <servlet-class>Kinopoisk.server.services.PingImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ping</servlet-name>
        <url-pattern>/Ping</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DataService</servlet-name>
        <servlet-class>Kinopoisk.server.services.DataServiceImplementation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataService</servlet-name>
        <url-pattern>/DataService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ImagesDownloader</servlet-name>
        <servlet-class>Kinopoisk.server.services.ImagesDownloaderImplementation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImagesDownloader</servlet-name>
        <url-pattern>/ImagesDownloader</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthenticationService</servlet-name>
        <servlet-class>Kinopoisk.server.services.AuthenticationServiceImplementation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationService</servlet-name>
        <url-pattern>/AuthenticationService</url-pattern>
    </servlet-mapping>

</web-app>